body {
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 42px;
}

.fuku {
    color: orange;
}

.para {
    width: 85%;
}

.half-width {
    width: 60%;
    padding-left: 10%;

}

.flexiable-container {
    display: flex;
    margin-bottom: 10px;
}

#top {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}

#middile-background {
    background-image: url(images/shapes/7.png);
}

#img {
    width: 50%;
    padding-bottom: 15%;
}

.ano-img {
    width: 60%;
    padding-bottom: 15%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(182, 27, 27), rgb(224, 103, 99));
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
    font-size: 700;

}

.recipie-item {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px rgb(119, 71, 71);
    border-radius: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

}

h2 {
    font-size: 38px;
    font-size: 700;
}

.recipie-img {
    width: 100%;

}

.recipie-text {
    text-align: center;

    p {
        width: 70%;
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 40px;
    }

}

.reci-color {
    color: rgb(104, 29, 141);
}

#gap {}

#online-box {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px rgb(196, 183, 183);
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.bottom-part {
    background-color: rgb(19, 8, 46);
    border-radius: 10px;
}

.eat-col {
    color: orange;
}

.frs-col {
    color: white;
}

.p-col {
    color: white;
    text-align: center;
}

.text-align {
    text-align: center;
    color: white;
}

.f-col {
    color: rgb(255, 0, 43);
    font-size: 700;


}

.f-text {
    text-align: right;

}