body {
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 42px;
}

.fuku {
    color: orange;
}

.para {
    width: 85%;
}

.half-width {
    width: 60%;
    padding-left: 10%;

}

.flexiable-container {
    display: flex;
    margin-bottom: 60px;
}

#top {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}

#middile-background {
    background-image: url(images/shapes/7.png);
}

#img {
    width: 50%;
    padding-bottom: 15%;
}

.ano-img {
    width: 60%;
    padding-bottom: 15%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, violet);
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
    font-size: 700;

}

.recipie-item {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 60px gray;
    border-radius: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

}

h2 {
    font-size: 38px;
}

.recipie-img {
    width: 100%;

}

.recipie-text {
    text-align: center;

    p {
        width: 70%;
        padding-left: 15%;
        margin-bottom: 40px;
    }

}

.reci-color {
    color: darkorchid;
}